<div style="padding-left: 15%;">
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Music name</th>
          <th scope="col">Artist name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr *ngFor="let item of playlist.playlistMusicas">
          <td>{{ item.musica.nome }}</td>
          <td>{{ item.musica.artista.nome }}</td>
          <td>
              <input type="radio" (click)="checkedMusic(item.musica)"  name="radiogroup" /> 
          </td>
          <!-- <td>
            {{item.musica.checked}}
          </td> -->
        </tr> 
      </tbody>
    </table>
</div>    